
.single-select-wrapper[data-v-27213e1d]{
    height: 200% !important;
}
.search-input[data-v-27213e1d]{
    height: 40px !important;
    border-radius: 0px !important;
    outline: none !important;
    background-color: #c1d1e8 !important;
}
.icons[data-v-27213e1d]{
    display: none !important;
}
.w-full[data-v-27213e1d]{
    height: 100% !important;
}
.dropdown[data-v-27213e1d]{
    background-color: #c1d1e8 !important;
}